@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200&family=REM:wght@200&display=swap');

// Variables
$primary-font: 'Bebas Neue', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;
$background-image-url: '../img/paisaje-de-montanas-en-el-bosque-diseno-minimalista-6345.jpg';
$background-fondo-url: '../img/fondo.jpg';
$navbar-bg-color: linear-gradient(rgba(156, 161, 241, 0.8), rgba(197, 236, 241, 0.8));
$text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

// Mixin para centrar elementos flex
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Estilos globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url($background-image-url) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Navbar
.navbar {
  background: $navbar-bg-color;
}

.navbar-brand {
  font-family: $primary-font;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

.navbar-nav li:hover {
  transform: scale(1.1);
}

.navbar-nav li a:hover {
  color: rgb(42, 92, 255);
}

// Encabezado
#header {
  background-image: url($background-image-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 0 10px 0;
  @include center-flex;
}

.index-main {
  background-image: url($background-fondo-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-primary {
  font-size: 30px;
}

// Títulos
.first-title, .slogan {
  font-family: $primary-font;
  text-shadow: $text-shadow;
}

// Contenedor de la primera foto
.container-first-photo {
  @include center-flex;
}

.photo-lonely-wolf {
  border-radius: 20px;
  padding: 5px;
  max-height: 250px;
  max-width: 250px;
}

// Descripción
.descripcion {
  font-family: $secondary-font;
}

.desc-1 {
  color: #ffffff;
  text-shadow: $text-shadow;
}

// Redes sociales
.fb, .ig {
  width: 30px;
  height: 25px;
}

// Foto Shine
.photo-shine {
  border-radius: 10%;
}

// Ubicaciones
.ubicaciones-page3 {
  border-bottom: 3px solid #ff8f9f;
  padding: 10px;
  background-color: #000000bd;
  margin: 10px auto;
  max-width: 31%;
  margin-bottom: 10px !important;
  @include center-flex;
  flex-wrap: wrap;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

// Formulario
.formulario {
  max-width: 720px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@keyframes moveImage {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, 5px);
    }
    50% {
      transform: translate(0, 0);
    }
    75% {
      transform: translate(-5px, -5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .container-first-photo {
    animation: moveImage 5s ease infinite; /* Ajusta la duración y el efecto según tus preferencias */
  }

  .carousel-item{
    height: 1000px;
  }

  .horarios-atencion-info{
    font-family: $primary-font;
    font-size: 20px;
  }

